test-out/
obj_linux/
obj/
bin/
tools/
temp*/
obj_debug/
.cproject
.project
.settings/
*.log
callgrind*
test-data/lambda/*
!test-data/lambda/NC_001416.fa
!test-data/lambda/reads.fastq
results/
*.tee
*.memtime
comparison*.sh
